@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fredoka+One&display=swap');



.section {
  padding: 30px;
}

h1{
  color:rgb(5, 5, 5);
  text-align: center;
  font-size: 50px;
  font-family: 'Fredoka One', cursive;
}

.label {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
}

.artigo {
  margin-bottom: 20px;
}

.input {
  display: block;
  margin-top: 10px;
  width: 100%;
  padding: 10px 5px;
  box-sizing: border-box;
  border: 3px solid #797979;
  border-radius: 4px;
}

.textArea {
  display: block;
  margin-top: 10px;
  width: 100%;
  padding: 5px 5px 0 5px;
  box-sizing: border-box;
  border: 3px solid #797979;
  border-radius: 4px;
}

.button {
  color: #19333d;
  padding: 8px 0;
  width: 50%;
  border-radius: 4px;
  border: none;
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
  background: #6ba2b8;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.article {
  margin-top: 60px;
}

.article .artigoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #797979;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
}

.article .artigoContainer .artigoContent {
  width: 500px;
}

.article .artigoContainer .artigoContent h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: rgb(8, 8, 8);
  word-break: break-all;
  
}

.article .artigoContainer .artigoContent p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  margin-top: 10px;
  color: rgb(46, 43, 43);
  word-break: break-all;
  
}

.article .artigoContainer .lixeira button {
  background: none;
  border: none;
  cursor: pointer;
}

.article .artigoContainer .lixeira button img {
  height: 25px;
  width: 30px;
}